:root {
    --purple: rgb(173, 21, 148);
    --black: rgb(20, 16, 13);
    --white: rgb(214, 212, 211);
}

body {
    background-color: var(--black);
    color: var(--purple);
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 1px;
    margin: 0;
}

p {
    color: var(--white);
    font-size: 25px;
}

header {
    background-color: var(--purple);
    display: flex;
    height: 80px;
    color: var(--black);
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}

#high-scores {
    cursor: pointer;

    padding-left: 5%;
}



h1 {
    font-size: 40px;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 80%;
    max-width: 900px;
}

button {
    background-color: var(--purple);
	color: var(--black);
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    transition: 0.2s;
}

button:hover {
    background-color: var(--white);
    color: var(--purple);
}
