:root {
    --purple: rgb(173, 21, 148);
    --black: rgb(20, 16, 13);
    --white: rgb(214, 212, 211);
}

body {
    background-color: var(--black);
    color: var(--purple);
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 1px;
    margin: 0;
}

p {
    color: var(--white);
    font-size: 25px;
}

header {
    background-color: var(--purple);
    display: flex;
    height: 80px;
    color: var(--black);
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}

#high-scores {
    cursor: pointer;
    position: static;
    width: 275px;
    margin-left: 5%;
    transition: 0.3s;
    height: 100%;
    display: flex;
    align-items: center;
}

#high-scores:hover {
    cursor: pointer;
    position: static;
    margin-left: 5%;
    padding-left: 10px;
    background-color: var(--white);
    color: var(--purple);
}

#timer {
    position: static;
    color: black;
    width: 100%;
    text-align: right;
    margin-right: 5%;
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    width: 80%;
    max-width: 900px;
}

button, li {
    background-color: var(--purple);
	color: var(--black);
	border: none;
	font: inherit;
	cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    transition: 0.3s;
}

button {
    padding: 10px;
}

button:hover, li:hover {
    background-color: var(--white);
    color: var(--purple);
}

li {
    list-style-type: none;
    margin: 10px 0 10px 0; 
    padding: 10px 10px 10px 20px;
}

li:hover {
    padding-left: 40px;
}

input {
    background-color: var(--white);
    color: var(--black);
    border: 5px solid var(--black);
    height: 25px;
    font-weight: bold;
    font-size: 22px;
    width: 200px;
}

input:focus {
    border: 5px solid var(--purple);
}

/* Remove default focus outline on input box*/
*:focus {
    outline: none;
}

label {
    font-size: 30px;
    font-weight: bold;
}

form {
    display: flex;
    align-items: center;
}

#submit {
    height: 37px;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    width: 80%;
    max-width: 900px;
    font-size: 25px;
    color: var(--white);
    text-align: right;
}